#ind_index{position: absolute;
    right: 0; /* 右側まで広げる */
    padding: 10px 10px; /* パディング */
    z-index: 999;
}
#index_link{position: absolute;
    right: 0; /* 右側まで広げる */
    padding: 10px 10px;
    display: none;
    z-index: 999;
    background-color: #cbc8fe5d;
}
.index_moji{
    right: 0; /* 右側まで広げる */
    color: #000;
}
.index_moji:hover{
    background: #131317;
    color:#ffffff;
}
header{
    background-color: aqua;
    padding: auto;
    top: 0; /* 上部に位置 */
    right: 0; /* 右側まで広げる */
    width: 100%; /* 幅を100%に設定 */
    padding: 10px 20px;
    position: sticky;
    display: flex;
    top: 0;
    z-index: 999;
}
body{
    background-color: #ffffff;
}
.akarink{
    color:red;
}
.kairo{
    display: none;
}
.kairoimg{
    width: 400px;
}
.kaitocode{
    display: none;
    background-color: #f0f0f0;
}
.link{
    scroll-margin: 110px;
}
html {
    scroll-behavior: smooth;
}